@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root{
    --color-fondo:#F3F5FC;
    --color-ingreseTextoAqui:#0A3871;
    --color-ingresaYsoloMinusculas:#495057;
    --color-botonEncriptar:#0A3871;
    --color-botonDesencriptar:#D8DFE8;
    --color-muneco:#FFFFFF;
    --font-general: "Inter", sans-serif;
}

.mainContainer{
    background-color: var(--color-fondo);
    display: flex;
    /*
    width: 116.5rem;
    */
    width: 100%;
    flex-wrap: wrap;
}


.mainContainer__inputAndResponse{
    display: flex;
    flex-direction: column;
    /*width: 57.5rem;*/
    /*width:920px*/
    flex-grow: 1;
}

.mainContainer__header__logo{
    justify-content: start;
    width: 100%;
    justify-content: left;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    /*    
    margin-top: 40px;
    margin-left: 40px;
    */
}

.input__message_buttons{
    /*margin-left: 240px;*/
    margin-left: 15rem;
    margin-right: 0px;
}

mainContainer__inputAndResponse__input{
    display: flex;
    flex-direction: column;
}

.mainContainer__inputAndResponse__input__inputBox{
    margin-top: 50px;
    background-color: var(--color-fondo);
    border: 0;
    /*height: 640px;*/
    height: 41rem;
    width: 100%;
    /*width: 42.5rem;*/
    /*width: 680px;*/
    /*font-size: 32px;*/
    font-size: 2rem;
    color: var(--color-ingreseTextoAqui);
    outline: none;
    resize: none;
}


.mainContainer__inputAndResponse__input__inputBox::placeholder{
    color: var(--color-ingreseTextoAqui);
    font-family: var(--font-general);
    font-size: 2rem;
    /*font-size: 32px;*/
    font-weight: 400;
    line-height: 1;
}

/*
.blank__space{
    height: 340px;
}
*/

.mainContainer__inputAndResponse__input__inputBox__message{
    display: flex;
    font-family: var(--font-general);
    color: var(--color-ingresaYsoloMinusculas);
    width: 100%;
    /*
    margin-top: 16px;
    margin-bottom: 16px;
    */
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 0.5%;
}

.exclamationIcon{
    width: 20px;
    height: 20px;
}


.mainContainer__inputAndResponse__input__inputBox__buttonBox{
    display: flex;
    width: 100%;
    height: 4.18rem;
    gap: 1.5rem;
    margin-bottom: 4.5rem;
    /*
    height: 67px;
    gap: 24px;
    margin-bottom: 72px;
    */
}

.mainContainer__inputAndResponse__input__inputBox__buttonBox__encriptButton{
    background-color:var(--color-botonEncriptar);
    /*width: 20.5rem;*/
    /*width: 328px;*/
    width: 50%;
    height: 100%;
    border-radius: 1.5rem;
    font-size: 1rem;
    /*
    border-radius: 24px;
    font-size: 16px;
    */
    color: var(--color-botonDesencriptar);
    border-color: var(--color-botonEncriptar);
}

.mainContainer__inputAndResponse__input__inputBox__buttonBox__unencriptButton{
    background-color: var(--color-botonDesencriptar);
    /*width: 20.5rem;*/
    width: 50%;
    height: 100%;
    border-radius: 1.5rem;
    font-size: 1rem;
    /*
    width: 328px;
    height: 100%;
    border-radius: 24px;
    font-size: 16px;
    */
    color: var(--color-botonEncriptar);
    border-color: var(--color-botonEncriptar);
    border-width: 1px;
}

.mainContainer__inputAndResponse__encriptedResponse__container{
    /*width: 32.5rem;*/
    /*width: 520px;*/
    /*width: 100%;*/
    display: flex;
    margin: 0;
    width: 8%;
    flex-grow: 1;
}

.mainContainer__inputAndResponse__encriptedResponse{
   background-color: var(--color-muneco);
   width: 25rem;
   height: 59rem;
   border-radius: 2rem;
   margin-top: 2.5rem;
   margin-bottom: 2.5rem;
   margin-right: 2.5rem;
   margin-left: 5rem;
   /*
    width: 400px;
   height: 944px;
   border-radius: 32px;
   margin-top: 40px;
   margin-bottom: 40px;
   margin-right: 40px;
   margin-left: 80px;
   */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: center;
   justify-content: center;
}

.mainContainer__inputAndResponse__encriptedResponse__image{
    width: auto;
    margin-bottom: 2rem;
    /*margin-bottom: 32px;*/
}

.mainContainer__inputAndResponse__encriptedResponse__firstP{
    font-family: var(--font-general);
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    /*
    font-size: 24px;
    margin-right: 16px;
    */
    text-align: center;
}


.mainContainer__inputAndResponse__encriptedResponse__secondP{
    font-family: var(--font-general);
    color: var(--color-ingresaYsoloMinusculas);
    font-weight: 400;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    /*
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 16px;

    */
    text-align: center;
}

/*Tablet view up to 768px*/
@media (max-width:768px){
    .mainContainer{
        background-color: var(--color-fondo);
        display: flex;
        /*
        width: 116.5rem;
        */
        width: 100%;
        flex-direction: column;
    }

    .input__message_buttons{
        margin: 5%;
    }

    .mainContainer__inputAndResponse__input__inputBox__buttonBox{
        width: 100%;
        margin-bottom: 0;
    }



    .mainContainer__inputAndResponse__encriptedResponse__container{
        /*width: 32.5rem;*/
        /*width: 520px;*/
        /*width: 100%;*/
        display: flex;
        margin: 0;
        width: 100%;
        
    }
    
    .mainContainer__inputAndResponse__encriptedResponse{
    width: 100%;
    height: 100%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0%;
    gap: 16PX;
    }

    .mainContainer__inputAndResponse__encriptedResponse__image{
        display: none;
    }

    
}



/*Phone view up to 768px*/
@media (max-width:375px){
    .mainContainer{
        background-color: var(--color-fondo);
        display: flex;
        /*
        width: 116.5rem;
        */
        width: 100%;
        flex-direction: column;
    }

    .input__message_buttons{
        margin: 5%;
    }

    .mainContainer__inputAndResponse__input__inputBox__buttonBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        gap: 24px;
    }


    .mainContainer__inputAndResponse__input__inputBox__buttonBox__encriptButton{
        background-color:var(--color-botonEncriptar);
        width: 100%;
        height: 4.18rem;
        border-radius: 1.5rem;
        font-size: 1rem;
        color: var(--color-botonDesencriptar);
        border-color: var(--color-botonEncriptar);
    }
    
    .mainContainer__inputAndResponse__input__inputBox__buttonBox__unencriptButton{
        background-color: var(--color-botonDesencriptar);
        /*width: 20.5rem;*/
        width: 100%;
        height: 4.18rem;
        border-radius: 1.5rem;
        font-size: 1rem;
        color: var(--color-botonEncriptar);
        border-color: var(--color-botonEncriptar);
        border-width: 1px;
    }



    .mainContainer__inputAndResponse__encriptedResponse__container{
        /*width: 32.5rem;*/
        /*width: 520px;*/
        /*width: 100%;*/
        display: flex;
        margin: 0;
        width: 100%;
        
    }
    
    .mainContainer__inputAndResponse__encriptedResponse{
    width: 100%;
    height: 100%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0%;
    gap: 16PX;
    }

    .mainContainer__inputAndResponse__encriptedResponse__image{
        display: none;
    }

    
}